html {
  scroll-behavior: smooth;
}

#intro{
  background: #151535;
  height: 400px;
}

#design{
  background: #150035;
  height: 400px;
}

#analyze{
  background: #001535;
  height: 400px;
}

#learn{
  background: #151500;
  height: 400px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #000;
  min-height: 250vh;
}

div{
  animation: ease;
  transition: 0.6s;
  }

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 10px;
  z-index: 100000;
}

header.sticky{
  padding: 5px 10px;
}

header .title {
  position: relative;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 500px;
  transition: 0.6s;
}

header.sticky .title,
header.sticky ul li a {
  font-size: 1em;
  font-weight: 500px;
}
