html {
  scroll-behavior: smooth;
}
/* ----------------Main Flex------------------- */
.mainPage {
  background-color: #151535;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#intro{
  background: #151535;
  color: white;
  flex: 1;
}
#design{
  background: #150035;
  color: white;
  flex: 2;
}
#analyze{
  background: #151535;;
  color: white;
  flex: 3;
}
#learn{
  background: #151500;
  color: white;
  flex: 4;
}
#footer{
  background: #AA15BB;
  color: white;
  flex: 4;
}
.segments{
  /* max-width: 1400px; */
  /* margin: 40px auto 0 auto; */
  background-color: #151535;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* ----------------Nav Bar------------------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  padding: 20px 20px;
  z-index: 100000;
}

header .title {
  position: relative;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  letter-spacing: 2px;
  transition: 0.6s;
  /* justify-content:center; */
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500px;
  transition: 0.6s;
}

header.sticky .title{
  font-size: 16px;
  font-weight: 500px;
  color: #000;
  margin: 15 15px;
}
header.sticky ul li a {
  font-size: 12px;
  font-weight: 500px;
  color: #000;
  margin: 0 15px;
}
header.sticky{
  height: 30px;
  padding: 1px 1px;
  background: #fff;
}
/* -----------------Centering On Canvas------------------ */
.containerCanvas {
  position: relative;
  text-align: center;
}

.centeredOnCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ----------------------------------- */


.fixed-size {
  width: 550px;
  height: 350px;
  margin-bottom: 20px;
  flex: 1;
}

.dash-first-column{
  /* background-color: #FFF; */
  height: 700px;
  flex=1;
  display: flex;
}
.dash-second-column{
  /* background-color: yellow; */
  flex=2;
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
}

/* ---------------D3 JS-------------------- */
/* path {
  stroke: white;
  fill: none;
  stroke-width: 2px;
} */

.lineC0 {
  stroke: #e08214;
  fill: none;
  stroke-width: 3px;
  transition: all 0.25s ease-out;
}

.lineC1 {
  stroke: #41ab5d;
  fill: none;
  stroke-width: 1px;
  transition: all 0.5s ease-out;
}

.lineC2 {
  stroke: #807dba;
  fill: none;
  stroke-width: 1px;
  transition: all 0.5s ease-out;
}



g.tick line{
  stroke: white;
}

/* Axis Style */
.liveAxis path,
.ystock path,
.xstock path{
    fill: none;
    stroke: #fff;
    stroke-width:2px;
    shape-rendering: crispEdges;
}

/* Axis Label */
.axisStock text{
  fill: lightsteelblue;
  font-size: 15px;
  font-family: sans-serif;

}

/* .x.axis path {
    display: none;
} */

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: lightsteelblue;
}

.toolBox text {
    fill:purple;
    font-size: 15px;
    font-family: sans-serif;
}

.toolBox-rect {
        fill: lightsteelblue;
        stroke: darkblue;
    }

.bax {
        fill: lightsteelblue;
        stroke: darkblue;
    }

.baxText {
    fill:purple;
    font-size: 15px;
    font-family: sans-serif;
    /* align-content: center; */
}
.xGrid {
        fill: lightsteelblue;
        stroke: rgba(200,200,200,0.6);
        stroke-width: 1px;
    }

.toolBox-date, .toolBox-shareValue {
    font-family: sans-serif;
    font-size: 15px;
}

#liveChart .axis {
  font-family: sans-serif;
  fill: #d35400;
  font-size: 15px;
}
#liveChart .line {
  fill: none;
  stroke: rgb(250,250,0);
  stroke-width: 3px;
}

    /* 100% — FF
    95% — F2
    90% — E6
    85% — D9
    80% — CC
    75% — BF
    70% — B3
    65% — A6
    60% — 99
    55% — 8C
    50% — 80
    45% — 73
    40% — 66
    35% — 59
    30% — 4D
    25% — 40
    20% — 33
    15% — 26
    10% — 1A
    5% — 0D
    0% — 00 */

/* #807dba; #41ab5d; #e08214 */


#liveChart .smoothline1 {
  fill: none;
  stroke: #e08214;
  stroke-width: 2px;
}
#liveChart .area1 {
  fill: #e08214;
  opacity: 0.1;
}

#liveChart .smoothline2 {
  fill: none;
  stroke: #41ab5d;
  stroke-width: 2px;
}
#liveChart .area2 {
  fill: #41ab5d;
  opacity: 0.01;
}

#liveChart .smoothline3 {
  fill: none;
  stroke: #807dba;
  stroke-width: 2px;
}
#liveChart .area3 {
  fill: #807dba;
  opacity: 0.1;
}

#liveChart .circle {
  stroke: #e74c3c;
  stroke-width: 3px;
  fill: #FFF;
}
#liveChart .grid {
  stroke: #DDD;
  stroke-width: 1px;
  fill: none;
}

/*---------------------Pie-Dash Board----------------- */
.pieChartGroup {
    margin-top: 50px;
}
.dashPath {  stroke: #fff; }
.dashPath :hover {  opacity:0.9; }
.dashRect:hover {  fill:red; }
.dashAxis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.dashAxis path,
.dashAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.dashAxis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
.dashRectText,.x .dashAxis,
.legendFreq  {
  stroke: white;
  fill: white;
  font: 14px sans-serif;
}

g.tick text{
  font-size: 14px;
  fill: white;
}

td{
  color: white;
}
.hg-title{
  stroke: white;
  fill:white;
  font: 35px sans-serif;
}
.pi-title{
  /* stroke: white; */
  fill:white;
  font: 20px sans-serif;
}
.dashBarBox{
  fill:red;
  opacity:0.9;
}
