body{
  background: #f0f0f0;
  font-family: Montserrat, sans-serif;
  /* margin: 10px; */
  /* height: 100vh; */
  /* transition: 0.5s; */
}

h1 {
  /* text-transform: uppercase; */
  font-size: 45px;
  text-align: center;
  color: #7a0177;
  font-weight: 300;
  margin-bottom: 0px;
}

.zoka{
  color: #ff1b77;
  text-decoration: underline solid #ff1b77 1px;
  /* padding-bottom: 20px; */
  margin-left: 2px;
  animation: upDown 3s alternate infinite ease-in-out;
}

@keyframes upDown {
  0%{ margin-left: 5px;}
  100%{ margin-left: 30px;}
}

/* .sectionButtons a:hover, .sectionButtons a:active{
  animation:  animate 8s linear infinite;
}

@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
} */

h2 {
    font-size: 24px;
    color: #7a0177;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    /* text-decoration: underline; */
}

h3 {
    font-size: 22px;
    line-height: 1.375em;
    color: #ff1b77;
    font-weight: 600;
    margin-top: 0px;
    text-align: center;
    text-decoration: underline;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #000;
    font-weight: 400;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: justify;
    letter-spacing: 0.25px;
}

/* -------------------------------------------------------------------------- */

.navbar{
  /* background-color: #7a0177; */
  overflow: hidden;
  height: 63px;
  position: fixed;
  /* width: 100%; */
  z-index: 5;
  /* opacity: 0.25; */
  transition: 0.25s;
}

/* .navbar:hover{
  opacity: 1;
} */

.navbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  padding-left: 0;
  text-decoration: none;
  font-size: 17px;
  transition: 0.25s;
  cursor: pointer;
  /* transform: translate(-18px,0px); */
}

.navbar ul{
  margin: 8px 0 0 0;
  list-style: none;
}

/* Shifted to media querry */
/* .navbar a:hover{ */
  /* background-color: #c51b8a; */
  /* color: #fff; */
  /* transform: rotate(180deg); */
  /* transform: translate(5px,0px); */
/* } */

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  background-color: #111;
  overflow-x: hidden;
  opacity: 0.90;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #aaa;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #fff;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#airyBody{
  transition:margin-left 0.5s;
}
/* -------------------------------------------------------------------------- */

.jumbotron {
    width: 100%;
    height: 500px;
    background-color: #f0f0f0;
    color: #7a0177;
    padding: 45px 0;
    font-family: Montserrat, sans-serif;
    position: relative;
    /* max-width: 1080px; */
    /* height: 100vh; */
}

.jumbotron h1{
  text-transform: none;
  font-size: 60px;
  font-weight: 300;
}

#introParticles{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 1080px; */
}
.sectionButtons {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}

.sectionButtons a{
  margin: 10px;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
}

.sectionButtons a:hover, .sectionButtons a:active{
  animation:  animate 8s linear infinite;
}

@keyframes animate {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

#clear{
  background: none;
  color: #000;
  width: 120px;
  height: 35px;
  border: 1px solid #338033;
  transition: 0.2s;
}

/* #clear:focus{
  outline: none;
} */
#clear:active{
  background: #338033;
  /* cursor: pointer; */
  color: #fff;
}

.dristi{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  /* margin: 25px; */
  /* grid-gap: 1em; */
  margin-top: 00px;
  padding-top: 50px;
  margin-bottom: 00px;
  max-width: 1080px;
  background-color: #fff;
}

.karna{
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  align-items: center;
  justify-content: center;
  margin-top: 00px;
  padding-top: 50px;
  background-color: #f7f4f9;
}

.title{
  /* grid-column: 1/3; */
  /* justify-content: space-around; */
  text-align: center;
  font-family: Montserrat, sans-serif;
  padding: 10px;
}

.topleft{
  background-color: #fff;
  margin: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topleft:hover{
  transform: scale(1.01);
}

.topright{
  background-color: #fff;
  margin: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topright:hover{
  transform: scale(1.01);
}

.bottomleft{
  background-color: #fff;
  margin: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomleft:hover{
  transform: scale(1.01);
}

.bottomright{
  background-color: #fff;
  margin: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomright:hover{
  transform: scale(1.01);
}

#touchDisable{
  padding-right: 20px;
}


/* ABOUT US */
#contactus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: 10px;
  padding: 10px;
}
.contact{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  align-items: center;
  justify-content: center;
  grid-gap: 0.5em;
}


#contactParticles{
    height: 100%;
    width: 100%;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* max-width: 1080px; */
}

.people{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  background-color: rgba(1,1,1,0.5);
  border-radius: 50px 5px 5px 5px;
}
.pimg{
  grid-row: 1/3;
  display: flex;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
}
.role{
  grid-column: 2/4;
}
.pimg img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.role p{
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: #faa;
}
.cdetails{
  grid-column: 2/4;
}
.cdetails p{
  color: #fff;
  padding: 0;
  margin: 0px;
}
/* -------------------------------------------------------------------------- */
/* Bar Chart */
.dashRect:hover {  fill:red; }
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */

@media (min-width: 600px) {
  .dristi { grid-template-columns: 1fr 1fr; }
  .title {grid-column: 1/3;}

}

@media (max-width: 1080px) {
  .navbar {
    transform: translate(-25px,0px);
  }
  .navbar a:hover{
    /* background-color: #c51b8a; */
    /* color: #fff; */
    /* transform: rotate(180deg); */
    transform: translate(15px,0px);
  }
}

/* @media (max-width: 550px) {
  .navbar-nav{display: none;}
}

@media (min-width: 550px) {
  .open-side{display: none;}
} */

@media (min-width: 1080px) {
  .pseudoBody {display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}
}
